.layout {
  width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
  height: 100%;
}

.container {
  display: flex;
  height: 100%;
}

.centeredContent {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.maxWidthContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 800px;
}
