.Tile {
  width: 30px;
  height: 30px;
  border: 2px solid rgb(168, 167, 167);
  border-radius: 6px;
  margin-bottom: 7px;
  cursor: pointer;
}

.Tile:hover {
  background-color: rgb(146, 188, 216);
  border: none;
}

.Tile_Choosen {
  background-color: rgb(8, 123, 195);
  border-color: rgb(8, 123, 195);
}
